#bicicletas main {
}

.bicicletas img {
  min-height: 100%;
  object-fit: cover;
}

.bicicletas-bg {
  width: 100%;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
  padding: calc(40 / 18 * 1rem);
}

.bicicletas-item-bg {
  padding: calc(32 / 18 * 1rem);
  background: linear-gradient(
    to right,
    var(--color-0) 20%,
    var(--color-11) 20%
  );
  width: 100%;
}
.bicicletas-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(32 / 18 * 1rem);
  min-height: max-content;
  max-width: 1200px;
  margin: calc(60 / 18 * 1rem) auto;
}

.bicicletas-item-bg p,
.bicicletas-item-bg li {
  color: var(--color-5);
}

.bicicletas-item-bg h2 {
  color: var(--color-0);
}

.bicicletas-item li {
  display: flex;
  align-items: center;
  gap: calc(16 / 18 * 1rem);
}

.bicicletas-item > div {
  position: relative;
}
.bicicletas-item > div:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(32 / 18 * 1rem);
}
.bicicletas-item a {
  display: flex;
  place-self: end;
  align-items: center;
  gap: calc(8 / 18 * 1rem);
}
.bicicletas-item div:nth-child(2) a:hover {
  filter: brightness(1);
}
.bicicletas-item div:nth-child(2) a::after {
  content: "";
  display: block;
  background-image: url(/img/icones/seta.svg);
  background-position: left center; /* Alterado para alinhar à esquerda */
  background-repeat: no-repeat;
  background-size: 100% 100%; /* Garante que a imagem preencha o espaço */
  background-repeat: no-repeat;
  height: calc(12 / 18 * 1rem);
  width: calc(24 / 18 * 1rem);
  transition: width 0.2s ease;
}

.bicicletas-item div:nth-child(2) a:hover::after {
  width: calc(32 / 18 * 1rem);
}

.bicicletas-item div:nth-child(2) h2,
.bicicletas-item div:nth-child(2) p {
  grid-column: 1/-1;
}
/* 
.bicicletas-item div:nth-child(2) *+* {
margin-top: calc(16/18*1rem);
} */

.bicicletas-item span {
  position: absolute;
  top: 1rem;
  right: 0;
  background: var(--color-12);
  padding-left: calc(32 / 18 * 1rem);
  padding-right: calc(16 / 18 * 1rem);
  color: var(--color-0);
}

@media (max-width: 991.98px) {
  .bicicletas-item {
    grid-template-columns: repeat(1, 1fr);
  }
  /* .bicicletas-item:nth-child(2n+1) {
background: #000;
} */

  .bicicletas > .bicicletas-item {
    padding: calc(32 / 18 * 1rem) calc(32 / 18 * 1rem);
  }

  .bicicletas-item-bg {
    background: var(--color-11);
  }
}

@media (max-width: 499.98px) {
  .bicicletas > * {
    padding: calc(32 / 18 * 1rem) calc(32 / 18 * 1rem);
  }

  .bicicletas-item div:nth-child(2) {
    grid-template-columns: 1fr;
  }
  .bicicletas-item div:nth-child(2) a {
    place-self: start;
  }
}
