/* p,
h1,
h2,
h3,
h4,
h5,
h6 { */
body,
body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

img {
  display: block;
  max-width: 100%;
}

img[src$=".jpg"] {
  border-radius: calc(4 / 18 * 1rem);
}

ul {
  list-style: none;
}

input {
  font-size: 1rem;
}

a {
  color: var(--color-11);
  text-decoration: none;
}
