body {
  margin: 0;
}

/* p,
h1,
h2,
h3,
h4,
h5,
h6 { */
body * {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  /* width: auto; */
  /* height: auto; */
  max-width: 100%;
}

img[src$=".jpg"] {
  border-radius: calc(4 / 18 * 1rem);
}

ul {
  list-style: none;
}

input {
  font-size: 1rem;
}

a {
  color: var(--gray-11);
  text-decoration: none;
}
