.header-bg {
  height: auto;
  width: 100%;
  background-color: var(--color-12);
  box-sizing: border-box;
  padding: 2rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 100%;
}
.header-logo {
  align-self: center;
}

.header-menu {
  display: flex;
  gap: 2rem;
  align-items: center;
  height: 100%;
}

.header-menu a {
  display: block;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  background-color: var(--color-0);
  height: 0.1rem;
  width: 0;
  position: absolute;
  bottom: 0.3rem;
  transition: 0.2s;
}

.header-menu a:hover::after {
  width: 100%;
}
.header-menu a.ativo::after {
  width: 100%;
  transition: none;
}

.header-menu a {
  color: var(--color-0);
  padding: 0.75rem 0.1rem;
}

@media (max-width: 950px) {
  .header-menu {
    gap: 1rem;
  }

  .header-menu a::after {
    display: none;
  }

  .header-menu a {
    background: var(--color-11);
    padding: 0.75rem;
    border-radius: 0.15rem;
    transition: 0.2s;
  }

  .header-menu a:hover,
  .header-menu a.ativo {
    background: var(--color-10);
    padding: 0.85rem;
  }
}

@media (max-width: 575.98px) {
  .header {
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
  }

  .header-menu {
    gap: 0.5rem;
  }
}
