:root {
  --gray-999: #000000;
  --gray-11: #111111;
  --gray-10: #2e2e2e;
  --gray-9: #404040;
  --gray-8: #595959;
  --gray-7: #717171;
  --gray-6: #9c9c9c;
  --gray-5: #b2b2b2;
  --gray-4: #cccccc;
  --gray-3: #dedede;
  --gray-2: #ededed;
  --gray-1: #f7f7f7;
  --gray-000: #ffffff;
  --primary-5: #332200;
  --primary-4: #664400;
  --primary-3: #a66f00;
  --primary-2: #e4a30b;
  --primary-1: #ffbb00;
}

.gray-999 {
  color: var(--gray-999);
}
.gray-11 {
  color: var(--gray-11);
}
.gray-10 {
  color: var(--gray-10);
}
.gray-9 {
  color: var(--gray-9);
}
.gray-8 {
  color: var(--gray-8);
}
.gray-7 {
  color: var(--gray-7);
}
.gray-6 {
  color: var(--gray-6);
}
.gray-5 {
  color: var(--gray-5);
}
.gray-4 {
  color: var(--gray-4);
}
.gray-3 {
  color: var(--gray-3);
}
.gray-2 {
  color: var(--gray-2);
}
.gray-1 {
  color: var(--gray-1);
}
.gray-000 {
  color: var(--gray-000);
}

.primary-5 {
  color: var(--primary-5);
}
.primary-4 {
  color: var(--primary-4);
}
.primary-3 {
  color: var(--primary-3);
}
.primary-2 {
  color: var(--primary-2);
}
.primary-1 {
  color: var(--primary-1);
}

.bg-gray-999 {
  background-color: var(--gray-999);
}
.bg-gray-11 {
  background-color: var(--gray-11);
}
.bg-gray-10 {
  background-color: var(--gray-10);
}
.bg-gray-9 {
  background-color: var(--gray-9);
}
.bg-gray-8 {
  background-color: var(--gray-8);
}
.bg-gray-7 {
  background-color: var(--gray-7);
}
.bg-gray-6 {
  background-color: var(--gray-6);
}
.bg-gray-5 {
  background-color: var(--gray-5);
}
.bg-gray-4 {
  background-color: var(--gray-4);
}
.bg-gray-3 {
  background-color: var(--gray-3);
}
.bg-gray-2 {
  background-color: var(--gray-2);
}
.bg-gray-1 {
  background-color: var(--gray-1);
}
.bg-gray-000 {
  background-color: var(--gray-000);
}

.bg-primary-5 {
  background-color: var(--primary-5);
}
.bg-primary-4 {
  background-color: var(--primary-4);
}
.bg-primary-3 {
  background-color: var(--primary-3);
}
.bg-primary-2 {
  background-color: var(--primary-2);
}
.bg-primary-1 {
  background-color: var(--primary-1);
}
