.container {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 calc(20 / 18 * 1rem);
}

.btn-primary {
  display: inline-block;
  background-image: linear-gradient(var(--color-p1), var(--color-p2));
  padding: calc(16 / 18 * 1rem) calc(32 / 18 * 1rem);
  border-radius: calc(4 / 18 * 1rem);
  box-shadow: 0 calc(1 / 18 * 1rem) calc(2 / 18 * 1rem) rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--color-p5);
  border: none;
  max-width: max-content;
  height: 100%;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.333;
  transition: 0.2s;
}

.btn-primary:hover {
  filter: brightness(0.8);
}
