.container {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 calc(20 / 18 * 1rem);
}

.page-title {
  display: flex;
  flex-direction: column;
  gap: calc(20 / 18 * 1rem);
  margin-bottom: calc(60 / 18 * 1rem);
}

.btn {
  display: inline-block;
  padding: calc(16 / 18 * 1rem) calc(32 / 18 * 1rem);
  border-radius: calc(4 / 18 * 1rem);
  box-shadow: 0 calc(1 / 18 * 1rem) calc(2 / 18 * 1rem) rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  border: none;
  min-width: max-content;
  max-height: max-content;
  height: 100%;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.333;
  transition: 0.2s;
}

.btn.primary {
  background-image: linear-gradient(var(--color-p1), var(--color-p2));
  color: var(--color-p5);
}

.btn.secondary {
  background-image: linear-gradient(var(--color-9), var(--color-8));
  color: var(--color-2);
}

.btn:hover {
  filter: brightness(0.8);
}

.link {
  position: relative;
  min-width: max-content;
  display: inline-block;
  color: var(--color-p1);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: calc(24 / 18 * 1rem);
  line-height: calc(36 / 18 * 1rem);
  padding: calc(40 / 18 * 1rem) 0;
  cursor: pointer;
}

.link::after {
  display: block;
  content: "";
  background-color: var(--color-p1);
  height: calc(4 / 18 * 1rem);
  width: 100%;
}

.link::before {
  display: block;
  content: "";
  background-color: var(--color-p1);
  position: absolute;
  top: 2rem;
  height: calc(4 / 18 * 1rem);
  width: 0;
  transition: 0.3s;
}

.link:hover::before {
  width: 100%;
}

@media (max-width: 799.98px) {
  .link {
    color: var(--color-p1);
    background: var(--color-p5);
    padding: calc(16 / 18 * 1rem) calc(32 / 18 * 1rem);
    margin: calc(20 / 18 * 1rem) 0 calc(40 / 18 * 1rem);
    border-radius: calc(3 / 18 * 1rem);
    box-shadow: 0 calc(1 / 18 * 1rem) calc(2 / 18 * 1rem) rgba(0, 0, 0, 0.1);
  }
  .link::after {
    display: none;
  }
  .link::before {
    display: none;
  }
}

@media (max-width: 499.98px) {
  .page-title {
    gap: calc(16 / 18 * 1rem);
    align-content: start;
  }
  .page-title h1 {
    font-size: calc(32 / 18 * 1rem);
    line-height: calc(48 / 18 * 1rem);
  }

  .page-title p {
    font-size: 1rem;
    line-height: calc(52 / 18 * 1rem);
  }
}

@media (max-width: 299.98px) {
  .link {
    font-size: 1rem;
  }
}
