.bicicletas-lista {
  display: flex;
  flex-direction: column;
  gap: calc(40 / 18 * 1rem);
  padding: 0 calc(40 / 18 * 1rem);
  margin: calc(60 / 18 * 1rem) 0;
  max-width: 100%;
}

.bicicletas-lista h2 {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.bicicletas-lista h3 {
  display: flex;
  align-items: center;
}

.bicicletas-lista h3::before {
  content: "";
  display: inline-block;
  background: var(--color-p1);
  margin-right: calc(8 / 18 * 1rem);
  width: calc(12 / 18 * 1rem);
  height: calc(8 / 18 * 1rem);
  transition: 0.3s;
  min-width: max-content;
}

.bicicletas-lista a:hover h3::before {
  width: calc(32 / 18 * 1rem);
  height: calc(8 / 18 * 1rem);
}

.bicicletas-lista ul {
  display: flex;
  flex-wrap: nowrap;
  gap: calc(40 / 18 * 1rem);
  justify-content: center;
  max-width: 1400px;
  overflow-x: auto;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.bicicletas-lista li {
  min-width: 280px;
}

.bicicletas-lista li a {
  display: block;
  align-content: center;
  color: var(--color-11);
}

.bicicletas-lista li span {
  color: var(--color-8);
  margin-left: calc(21 / 18 * 1rem);
}

.bicicletas-lista img {
  margin-bottom: calc(20 / 18 * 1rem);
  max-height: 400px;
  object-fit: cover;
  object-position: center;
}

/* @media (max-width: 1050px) {
  .bicicletas-lista ul {
  }
} */
@media (max-width: 576.98px) {
  .bicicletas-lista li span {
    font-size: 16px;
  }
  .bicicletas-lista h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: calc(48 / 18 * 1rem);
    line-height: calc(40 / 18 * 1rem);
  }

  /* .bicicletas-lista h3 {} */
}

@media (max-width: 299.98px) {
  .bicicletas-lista li {
    min-width: 250px;
  }
}
