.depoimento {
  width: 100%;
  display: grid;
  background: var(--color-p1);
  grid-template-columns: repeat(2, 1fr);
}

.depoimento-img {
  justify-items: end;
}

.depoimento img {
  object-fit: cover;
  border-radius: initial;
}

.depoimento-content {
  width: 100%;
  display: flex;
  flex: 1px;
  flex-direction: column;
  justify-content: end;
  gap: calc(40 / 18 * 1rem);
  background: var(--color-p1);
  padding: calc(100 / 18 * 1rem);
}

.depoimento-content blockquote {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: 900;
  line-height: 1.33;
  color: var(--color-p5);
  position: relative;
}

.depoimento-content blockquote p {
  flex: 1;
  max-width: 32ch;
}

.depoimento-content span {
  font-weight: 600;
}

.depoimento-content blockquote p::before,
.depoimento-content blockquote p::after {
  display: inline;
  position: absolute;
  font-size: calc(85 / 18 * 1rem);
  color: var(--color-p2);
}

.depoimento-content blockquote p::before {
  content: "“";
  top: calc(-18 / 18 * 1rem);
  left: calc(-60 / 18 * 1rem);
}

.depoimento-content blockquote p::after {
  content: "”";
}

@media (max-width: 1649.98px) {
  .depoimento-content {
    gap: calc(30 / 18 * 1rem);
    padding-bottom: calc(60 / 18 * 1rem);
  }
}

@media (max-width: 1399.98px) {
  .depoimento-content {
    gap: calc(20 / 18 * 1rem);
    padding-bottom: calc(40 / 18 * 1rem);
  }
  .depoimento-content blockquote {
    line-height: 1;
  }
}

@media (max-width: 1199.98px) {
  .depoimento {
    grid-template-columns: 1fr;
  }

  /* .depoimento-img {
    max-height: calc(300 / 18 * 1rem);
  } */
  .depoimento img {
    max-height: calc(200 / 18 * 1rem);
    width: 100%;
  }

  .depoimento-content {
    text-align: center;
  }

  .depoimento-content blockquote {
    align-self: center;
  }

  .depoimento-content blockquote p::after {
    bottom: calc(-32 / 18 * 1rem);
    right: calc(-65 / 18 * 1rem);
  }
  .depoimento-content blockquote p::before {
    top: -1rem;
    left: calc(-75 / 18 * 1rem);
  }
}
@media (max-width: 1099.98px) {
  .depoimento-content blockquote p {
    font-size: calc(28 / 18 * 1rem);
  }
}

@media (max-width: 1099.98px) {
  .depoimento-content blockquote p {
    font-size: calc(28 / 18 * 1rem);
  }
}
