.intro-bg {
  box-shadow: inset 0 calc(-120 / 18 * 1rem) var(--gray-000);
}

.intro {
  max-width: 1500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 calc(40 / 18 * 1rem);
  justify-self: center;
  align-content: center;
  padding: 3rem;
}

.intro-content {
  align-self: center;
  padding-bottom: calc(200 / 18 * 1rem);
}

.intro h1 {
  margin-bottom: calc(32 / 18 * 1rem);
  font-size: calc(52 / 18 * 1rem);
  line-height: calc(72 / 18 * 1rem);
}

.intro-content p {
  margin-bottom: calc(20 / 18 * 1rem);
  font-size: calc(24 / 18 * 1rem);
  line-height: 1.5;
  color: var(--gray-5);
}

.intro-img img {
  height: 100%;
  object-fit: cover;
  object-position: center right;
  border-radius: calc(4 / 18 * 1rem);
}

@media (max-width: 950px) {
  .intro {
    grid-template-columns: 1fr;
  }
  .intro-content {
    padding-bottom: calc(20 / 18 * 1rem);
  }
  .intro-img img {
    height: calc(300 / 18 * 1rem);
    width: 100%;
    margin-top: 1rem;
  }
  .intro-bg {
    background-color: var(--gray-11);
    box-shadow: inset 0 calc(-100 / 18 * 1rem) var(--gray-000);
  }
}
