.parceiros {
  display: grid;
  margin: calc(96 / 18 * 1rem) 0 calc(180 / 18 * 1rem) 0;
  justify-content: center;
}

.parceiros h2 {
  margin: 0 calc(60 / 18 * 1rem);
  margin-top: 0;
  margin-bottom: calc(80 / 18 * 1rem);
  height: auto;
}

.parceiros ul {
  max-width: 1200px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
}

.parceiros li {
  display: flex;
  align-items: center;
  width: calc(350 / 18 * 1rem);
  height: calc(100 / 18 * 1rem);
  border-top: calc(2 / 18 * 1rem) solid var(--color-2);
  border-left: calc(2 / 18 * 1rem) solid var(--color-2);
  padding: calc(20 / 18 * 1rem);
}

.parceiros li:nth-child(-n + 4) {
  border-top: none;
}

.parceiros li:nth-child(4n + 1) {
  border-left: none;
}

.parceiros img {
  margin: 0 auto;
}

@media (max-width: 1499.98px) {
  .parceiros li {
    width: calc(250 / 18 * 1rem);
    height: calc(100 / 18 * 1rem);
  }
}

@media (max-width: 1199.98px) {
  .parceiros h2 {
    font-size: calc(52 / 18 * 1rem);
  }

  .parceiros ul {
    grid-template-columns: repeat(2, 1fr);
    margin: calc(40/18*1rem);
  }

  .parceiros li {
    width: 100%;
  }

  .parceiros li:nth-child(-n + 4) {
    border-top: calc(2 / 18 * 1rem) solid var(--color-2);
  }

  .parceiros li:nth-child(4n + 1) {
    border-left: calc(2 / 18 * 1rem) solid var(--color-2);
  }

  .parceiros li:nth-child(-n + 2) {
    border-top: none;
  }

  .parceiros li:nth-child(odd) {
    border-left: none;
  }
}

@media (max-width: 399.98px) {
  .parceiros h2 {
    margin: calc(40 / 18 * 1rem);
    margin-left: calc(60 / 18 * 1rem);
    margin-bottom: calc(120 / 18 * 1rem);
  }

  .parceiros ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .parceiros li {
    border-left: none;
  }

  .parceiros li:nth-child(2) {
    border-top: calc(2 / 18 * 1rem) solid var(--color-2);
  }
  .parceiros li:nth-child(4n + 1) {
    border-left: none;
  }
}
