
.seguros-bg {
  padding: calc(60 / 18 * 1rem);
}

.seguros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: calc(60 / 18 * 1rem);
  gap: calc(32 / 18 * 1rem);
}
.seguros h2 {
  grid-column: 1/-1;
  padding-left: calc(32/18*1rem);
}
.seguros-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(32 / 18 * 1rem);
  border-radius: calc(4 / 18 * 1rem);
  background-color: var(--color-12);
  padding: calc(32 / 18 * 1rem);
  padding-left: calc(60 / 18 * 1rem);
}

.seguros-item span {
  display: block;
  text-align: end;
  min-width: max-content;
}

.seguros-item ul {
  grid-column: 1/-1;
  color: var(--color-5);
}

.seguros-item li + li {
  margin-top: calc(16 / 18 * 1rem);
}

.seguros-item li {
  position: relative;
}

.seguros-item a {
  justify-self: start;
}

.seguros-item li::before {
  position: absolute;
  display: inline-block;
  content: url(/img/icones/lista.svg);
  left: calc(-24/18*1rem);
}

@media (max-width: 1199.98px) {
  .seguros {
    padding-left: 0;
    padding-right: 0;
  }
  .seguros-item {
  gap: calc(16 / 18 * 1rem);
  padding: calc(16 / 18 * 1rem);
  padding-left: calc(40 / 18 * 1rem);
}
}
@media (max-width: 829.98px) {
  
  .seguros {
    grid-template-columns: repeat(1, auto);
    justify-items: center;
  }
}
@media (max-width: 599.98px) {
  .seguros-bg {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: calc(80/18*1rem);
  }

  .seguros {
    padding: 0;
  }

  @media (max-width: 399.98px) {
    .seguros{
      justify-items: initial;
    }
    
    .seguros-item{
      grid-template-columns: repeat(1,1fr);
    }
    .seguros-item span {
  text-align: start;
}
  }
}
