#orcamento {
  background: var(--color-1);
}
#orcamento .container {
  max-width: 1600px;
  padding: 0 calc(32 / 18 * 1rem) calc(60 / 18 * 1rem);
}
.orcamento-titulo {
  width: 100%;
}

.orcamento-titulo .page-title > * {
  padding: 0 calc(32 / 18 * 1rem);
}

#orcamento .footer {
  padding: calc(60 / 18 * 1rem);
}

.orcamento-titulo::after {
  content: "";
  display: block;
  background: var(--color-11);
  width: 100vw;
  height: calc(300 / 18 * 1rem);
  position: absolute;
  z-index: -1;
}

.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding: calc(16 / 18 * 1rem) 0 calc(120 / 18 * 1rem);
}

.orcamento h2 {
  text-transform: uppercase;
  font-size: calc(14.5 / 18 * 1rem);
  position: relative;
  margin: calc(12 / 18 * 1rem) 0;
}

.orcamento h2::before {
  content: "";
  display: inline-block;
  width: calc(4 / 18 * 1rem);
  height: calc(10 / 18 * 1rem);
  background: linear-gradient(var(--color-p1), var(--color-p2));
  position: absolute;
  top: calc(2 / 18 * 1rem);
  left: -1.5ch;
}

@media (max-width: 1200px) {
  .orcamento {
    grid-template-columns: 1fr;
  }
  .orcamento-titulo::after {
    height: calc(400 / 18 * 1rem);
  }
}
@media (max-width: 450px) {
  #orcamento .container {
    padding: 0;
  }
}
