.orcamento-conteudo {
  display: none;
}

.orcamento-conteudo > label {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  padding-left: calc(10 / 18 * 1rem);
  padding-right: calc(10 / 18 * 1rem);
  margin-bottom: 0;
  width: 100%;
  border-radius: calc(4 / 18 * 1rem);
}
.orcamento-conteudo > label span {
  justify-self: end;
  padding-right: calc(10 / 18 * 1rem);
  display: none;
}

.orcamento-conteudo input:hover + label span,
.orcamento-conteudo input:checked + label span {
  display: inline-block;
}

.orcamento-conteudo label::before {
  margin-left: calc(16 / 18 * 1rem);
}

.orcamento-conteudo > input:checked + label,
.orcamento-conteudo > input:focus + label {
  box-shadow: none;
  outline: none;
  border-radius: calc(4 / 18 * 1rem) calc(4 / 18 * 1rem) 0 0;
}

#orcamento-seguro > input:checked + label,
#orcamento-seguro > input:focus + label {
  border-radius: calc(4 / 18 * 1rem);
  box-shadow: 0 0 0 calc(3 / 18 * 1rem) var(--color-p1);
  outline: calc(1 / 18 * 1rem) solid var(--color-12);
}

.orcamento-detalhes {
  display: none;
  background: var(--color-0);
  border-radius: 0 0 calc(5 / 18 * 1rem) calc(4 / 18 * 1rem);
  padding: calc(24 / 18 * 1rem);
}
.orcamento-detalhes ul {
  padding: calc(20 / 18 * 1rem);
  padding-top: 0;
}

.orcamento-detalhes li {
  display: flex;
  gap: calc(16 / 18 * 1rem);
  font: 400 calc(16 / 18 * 1rem) / 1.2 "Poppins", sans-serif;
  align-items: center;
}

.orcamento-detalhes li + li {
  margin-top: calc(12 / 18 * 1rem);
}
.orcamento-detalhes img[src$=".jpg"] {
  height: 100%;
  object-fit: cover;
}
.orcamento-detalhes img[src$=".svg"] {
  height: calc(16 / 18 * 1rem);
  width: calc(16 / 18 * 1rem);
}

input:checked + label + .orcamento-detalhes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(32 / 18 * 1rem);
}

@media (min-width: 1200px) and (max-width: 1400px) {
  input:checked + label + .orcamento-detalhes {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 500px) {
  input:checked + label + .orcamento-detalhes {
    grid-template-columns: repeat(1, 1fr);
  }
}
